// Reset
@import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css';

// Fonts
@font-face {
  font-family: 'ProximaNovaLtLight';
  src: url('../fonts/ProximaNova-Light-webfont.eot');
  src: url('../fonts/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Light-webfont.woff') format('woff'),
       url('../fonts/ProximaNova-Light-webfont.ttf') format('truetype'),
       url('../fonts/ProximaNova-Light-webfont.svg#ProximaNovaLtLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaLtSemibold';
  src: url('../fonts/ProximaNova-Sbold-webfont.eot');
  src: url('../fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Sbold-webfont.woff') format('woff'),
       url('../fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),
       url('../fonts/ProximaNova-Sbold-webfont.svg#ProximaNovaLtSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@fontProximaLight    : 'ProximaNovaLtLight';
@fontProximaSemiBold : 'ProximaNovaLtSemibold';


// Colors
@black     : #000;
@gray      : #999;  
@lightGray : #ccc;
@offWhite  : #f7f8f8;
@offBlack  : #333;
@white     : #fff;

//Theme colors
@center-stage: #802f2c;
@chalet      : #b8a898;
@indulgence  : #5f3c30;
@modern      : #d3ccbc;
@rhapsody    : #1a355e;
@thoroughbred: #703c2e;
@vineyard    : #6b1a31;


// Media Queries
@mobileSmall : ~"screen and (max-width: 500px)";
@mobile      : ~"screen and (max-width: 767px)";
@tablet      : ~"screen and (max-width: 768px)";
@medium      : ~"screen and (max-width: 992px)";
@large       : ~"screen and (max-width: 1199px) and (min-width: 992px)";
@xlarge      : ~"screen and (min-width: 1200px)";
@xxlarge     : ~"screen and (min-width: 1300px)";


// Utilities
.clearfix{
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

img{
  max-width: 100%;
}
.icon{
  display: block;
}

.btn{
  color: @white;
}
.btn-continue{
  border: 1px solid @white; 
  border-radius: 10px;
  display: block;
  font-size: 130%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  width: 20%;
}
// Arrow icons
.icon-arrow-right{
  background-image: url(../images/sprite-arrows-lr.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.icon-arrow-left{
  background-image: url(../images/sprite-arrows-lr.png);
  background-repeat: no-repeat;
  background-position: 0 -160px;
}
.back-arrow{
  background: url(../images/icon-left-arrow.png) no-repeat center center;
  background-size: 50%;
  display: block;
  height: 60px;
  width: 30px;
}

//Circles
.circle{
  background: @black;
  border: 2px solid @white;
  border-radius: 35px;
  width: 35px;
  height: 35px;

  &.checked{
    background: url(../images/icon-check.png) no-repeat center center;
    background-size: 50%;
  }
  &.x{
    background: url(../images/icon-x.png) no-repeat center center;
    background-size: 50%;
  }
}

//Other icons
.icon-like{
  background: url(../images/icon-heart.png) no-repeat center center;
  background-size: 50%;
  height: 42.5px;
  width: 94px;
}


// Main CSS
body{
  background: @black;
  font-size: 100%;
}

h1, h2, h3, h4 ,h5 ,h6{
  color: @white;
}

.container{
  padding: 0 15px;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;

  @media @mobile{
    width: 85%;
    padding: 0 5px;
  }
  
  &.logo{
    img{
      display: block;
      margin: 90px auto 0;
    }
  }

  &.hero{
    h1{
      font-size: 500%;
      text-align: center;
      padding: 200px 0;
    }
  }//end hero

  &.instruct{
    li{
      color: @lightGray;
      height: 73px;
      line-height: 73px;
      padding-left: 85px;
      margin: 0 0 30px;
    }
  }//end instruct
  &.cta{
    .btn{
      margin: 0 auto 40px ;
    }
  }
  &.ng-swippy{
    margin: 0 auto;
    width: 300px;
  }
  &.deck{
    padding: 25px 25px 0;

    h1{
      color: @white;
      font-size: 150%;
      margin: 25px 0;
      text-align: center;
      text-transform: uppercase;
    }
    .circles{
      margin: 0 auto 35px;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: flex-start;
      align-content: center;

      .circle{
        display: inline-block;
        margin: 0 15px;
        
        &:first-of-type{
          margin-left: 0;
        }
        &:last-of-type{
          margin-right: 0;
        }
      }
    }
  }

  &.like-dislike{
    bottom: -100px;
    margin-top: 50px;
    left: 22%;
    position: absolute;
    width: 58%;

    div{
      float: left;

      &:nth-child(2){
        float: right;
      }
    }
  }
} //end container

.theme{
  padding-top: 50px;
  padding-bottom: 15px;

  &.center-stage{
    background: @center-stage;
  }
  &.chalet{
    background: @chalet;
  } //end chalet
  &.indulgence{
    background: @indulgence;
  }
  &.modern{
    background: @modern;
  }
  &.rhapsody{
    background: @rhapsody;
  }
  &.thoroughbred{
    background: @thoroughbred;
  }
  &.vineyard{
    background: @vineyard;
  }
  >.container{
    padding: 0;
  }
  .logo{

    img{
      display: block;
      margin: 0 auto;
      width: 50%;
    }
  }
  .hero-text{
    margin: 25px auto;
    padding: 0;
  }
  h1{
    color: @white;
    font-family: @fontProximaSemiBold;
    font-size: 30px;
    margin: 0 0 25px;
    padding: 0;
    text-align: center;
  }
  p{
    color: @white;
    font-family: @fontProximaSemiBold;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .grid-container{
    .row{
      width: 100%;
      margin: 15px 0;

      img{
        display: block;
        width: 100%;
        max-width: 100%;

        &.col50{
          margin: 0;
        }
      }

      .col50{
        float: left;
        width: 48%;
        margin: 0 1%;

        &:last-of-type{
          float: right;
        }

        img:nth-of-type(1){
        }
        img:nth-of-type(2){
          margin-top: 15px;
        }
        img:nth-of-type(3){
        }
      } //end .col50
    } //end row
  }//end grid-container
} //end theme

.share-container{
  background: @black;
  padding: 20px 15px;

  .flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    li{
      width: 20%;
      
      a{
        display: block;
        text-decoration: none;
        
        .fb-like{
          width: 62px;
          margin: 0 auto;
          display: block;
        }

        img{
          display: block;
          margin: 0 auto 10px;
          width: 40%;
        }

        h5{
          color: #b3b3b3;
          text-align: center;
          text-transform: uppercase;
        }
      }// end a
      &.share{
        img{
          width: 29%;
        }
      }
      &.explore{
        img{
          // width: 29%;
        }
      }
    }//end li
  }
} //end share-container